*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.so
*.spec
*.sqlite
*.swp
.Python
.cache
.coverage
.coverage.*
.eggs/
.installed.cfg
.tox/
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
include/
lib/
lib64
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-selfcheck.json
sdist/
target/
var/
